---
---

// add bootstrap variable settings here

@import 'bootstrap';


// add more css stuff here

body {
  padding-top: 70px;
}

.content {
  padding: 40px 15px;
}

.shadowImg {
  box-shadow: 2px 3px 4px rgba(0,0,0,.25);
}

.faq h4 {
  color: rgba(48,43,120,1);
  font-weight: 600;
}

.faq h4:before {
  content: "Q: ";
}

#lab_social_icon_footer {
  padding: 40px 0;
  background:  $barnard-blue;
}

#lab_social_icon_footer a {
  color: #fff;
}

#lab_social_icon_footer .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */

  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
