
  <section id="lab_social_icon_footer">

<div class="container">
        <div class="text-center center-block">
              <a href="http://www.facebook.com/pg/cuwipnyc"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
	            <a href="http://twitter.com/CUWiP_NYC"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
	            <a href="http://www.instagram.com/cuwip_nyc/"><i id="social-gp" class="fa fa-instagram fa-3x social"></i></a>
              <a href="https://github.com/cuwip-nyc/cuwip-nyc.github.io"><i id="social-gp" class="fa fa-github fa-3x social"></i></a>

    </div>
</div>
</section>
